<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="error404Page">
        <div><a class="left404">404 </a><a class="middle404">|</a><a class="right404"> This page could not be found.</a></div>
    </div>
</body>

</html>