<!DOCTYPE html>

<html>

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T73ZF84');</script>
    <!-- End Google Tag Manager -->
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
</head>

<body>
    <script src="/js/update_overlay.js"></script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T73ZF84"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{>guest_header}}
    <div class="main-content maxWidth75">
        <div class="aboutPageTitle">About Tradegen</div>
        <div class="aboutPageContent">
            <p>
                Tradegen is a decentralized platform that lets users trade tokenized strategies developed by other users.
                We aim to make algo trading more accessible by letting users trade tokens that represent algos instead of having algos trade users' funds.
                This lets users algo trade without having to write code or make trades on the stock market, while enjoying the benefits of blockchain. 
            </p>
            <p>
                Each strategy has tokens that start at 1.00 QOIN and fluctuate in value based on demand from users and the strategy's performance.
                These tokens let users trade the strategy like a stock while indirectly investing in the platform. 
            </p>
        </div>

        <div class="aboutPageSubtitle">Our Vision</div>
        <div class="aboutPageContent">
            <p>
                We envision a decentralized social trading platform owned by its users.
                This platform would foster a community where users can share their insights, explore strategies, and learn more about crypto and trading in general.
                Through tokenized strategies, a social network, NFT-backed pages, and customizable content, we aim to provide a unique gamified experience for our users.
            </p>
        </div>

        <div class="aboutPageSubtitle">Platform</div>
        <div class="aboutPageContent">
            <p>Some key features of the Tradegen platform:</p>
            <ul>
                <li>
                    a fungible token on the Solana blockchain (QOIN) that lets users buy/sell tokenized strategies
                </li>
                <li>
                    login by connecting to Trust Wallet
                </li>
                <li>
                    no-code strategy builder that lets users build a wide range of strategies
                </li>
                <li>
                    weekly dividend payments from users' positions 
                </li>
                <li>
                    marketplace where users can list strategies they developed and trade tokens of other strategies
                </li>
                <li>
                    store that sells the source code of strategies developed on the platform
                </li>
                <li>
                    historical performance of strategies and their tokens
                </li>
                <li>
                    code-generation algorithm that builds a ready-to-use trading bot when users build a strategy
                </li>
            </ul>
        </div>

        <div class="aboutPageSubtitle">Roadmap</div>
        <div class="aboutPageContent">
            <p>
                We'll be releasing many features throughout 2021 in a series of phases. 
            </p>
            <p>
                <a class="extraWeight">Phase 1:</a> market building
            </p>
            <ul>
                <li>
                    weekly updates to our strategy builder so users can build a wider range of strategies
                </li>
                <li>
                    wider range of asset classes and support for overnight trades
                </li>
                <li>
                    more brokerage firms for source code
                </li>
                <li>
                    new strategies published every 1-3 days
                </li>
                <li>
                    option for users to purchase and download their own source code without getting strategy approved
                </li>
                <li>
                    custom backtests
                </li>
            </ul>
            <p>
                <a class="extraWeight">Phase 2:</a> social network and further market development
            </p>
            <ul>
                <li>
                    tokenized index funds representing collections of strategies
                </li>
                <li>
                    users can customize their position pages by adding opinions, charts, polls, analysis, and services
                </li>
                <li>
                    user-generated content stored on the blockchain and owned by users
                </li>
                <li>
                    position pages are searchable through an internal search engine
                </li>
                <li>
                    chat with other users and interact with posts
                </li>
                <li>
                    robust charting and search features for strategies
                </li>
            </ul>
            <p>
                <a class="extraWeight">Phase 3:</a> real-time market
            </p>
            <ul>
                <li>
                    a separate real-time market for trading strategies' fungible tokens
                </li>
                <li>
                    users have option to buy fungible tokens or non-fungible tokens for each strategy
                </li>
                <li>
                    each strategy developed before phase 3 goes through an Initial Exchange Offering (IEO)
                </li>
                <li>
                    'education center' where users can learn more about trading and crypto in general
                </li>
                <li>
                    users can make money through advertisements and services on their position pages
                </li>
            </ul>
        </div>
    </div>
    
    {{>footer}}
    <a class="footerBuffer"></a>
    <script src="/js/about_page_app.js"></script>
</body>

</html>