<!DOCTYPE html>

<html>

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T73ZF84');</script>
    <!-- End Google Tag Manager -->
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <script src="/js/update_overlay.js"></script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T73ZF84"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{>guest_header}}
    <div class="main-content maxWidth80 mediaMarginLeft10">
        <div class="aboutPageTitle">About Tradegen</div>
        <div class="aboutPageContent">
            <p>
                Tradegen is a decentralized platform that lets users invest in tokenized strategies developed by other users. 
            </p>
            <p>
                Each strategy has a pool of TGEN (the platform's native token) that users can contribute to in exchange for tokens that represent their stake in the pool.
                An on-chain trading bot trades synthetic versions of popular assets using the funds in the pool (verifiable on the Celo blockchain), and distributes profits
                to users proportional to how many tokens they own.   
            </p>
            <p>
                This lets users algo trade without having to write code or make trades on traditional markets, while enjoying the benefits of blockchain technology. Since the trading
                bots run on-chain, all backtest results and transactions are tamper-proof and publicly verifiable. 
            </p>
        </div>

        <div class="aboutPageSubtitle">Our Vision</div>
        <div class="aboutPageContent">
            <p>
                Tradegen's goal is to make algo trading more accessible through blockchain technology and social trading.
                We envision a community-owned platform where users can freely trade tokenized strategies and synthetic assets, interact with other users, explore strategies, and learn more about crypto and trading in general.
                Through tokenized strategies, a social network, an incentivized voting system, and a marketplace for strategy tokens, we aim to provide a unique gamified experience for our users.
            </p>
        </div>

        <div class="aboutPageSubtitle">Platform</div>
        <div class="aboutPageContent">
            <p>Some key features of the Tradegen platform:</p>
            <ul>
                <li>
                    a fungible token on the Celo blockchain (TGEN)
                </li>
                <li>
                    a wallet-based login system
                </li>
                <li>
                    no-code strategy builder that lets users build a wide range of strategies
                </li>
                <li>
                    marketplace where users can sell tokens of strategies they invested in
                </li>
                <li>
                    an incentivized voting system for new strategies
                </li>
                <li>
                    historical performance of strategies and their tokens
                </li>
                <li>
                    code-generation script that builds a ready-to-use trading bot when users build a strategy
                </li>
            </ul>
        </div>

        <div class="aboutPageSubtitle">Roadmap</div>
        <div class="aboutPageContent">
            <p>
                We'll be releasing many features throughout 2021 in a series of phases. 
            </p>
            <p>
                <a class="extraWeight">Phase 1:</a> market building
            </p>
            <ul>
                <li>
                    frequent updates to our strategy builder so users can build a wider range of strategies
                </li>
                <li>
                    wider range of assets for strategies as more Chainlink price feeds become available
                </li>
                <li>
                    Ubeswap listing and liquidity mining
                </li>
                <li>
                    custom backtests
                </li>
                <li>
                    improvements to UI and more robust charts
                </li>
            </ul>
            <p>
                <a class="extraWeight">Phase 2:</a> social network and further market development
            </p>
            <ul>
                <li>
                    tokenized index funds representing collections of strategies
                </li>
                <li>
                    tokenized portfolios 
                </li>
                <li>
                    chat with other users and interact with posts
                </li>
                <li>
                    'education center' where users are incentivized to write articles on crypto or trading in general
                </li>
                <li>
                    Ubeswap listing for strategy tokens so they can be tradable throughout the Celo ecosystem
                </li>
            </ul>
            <p>
                <a class="extraWeight">Phase 3:</a> improving the gamified experience
            </p>
            <ul>
                <li>
                    launch of a prediction market
                </li>
                <li>
                    tokenized pools that users can manually trade from
                </li>
                <li>
                    variety of leaderboards and competitions
                </li>
                <li>
                    iOS and Android apps
                </li>
            </ul>
            <p>
                <a class="extraWeight">Phase 4:</a> transition to decentralized autonomous organization (DAO)
            </p>
            <ul>
                <li>
                    ability for users to submit proposals for improving the platform and vote on proposals
                </li>
                <li>
                    appointing of new developers and community managers through voting
                </li>
                <li>
                    users can vote on updates to existing strategies
                </li>
            </ul>
        </div>
    </div>
    
    {{>footer}}
    <a class="footerBuffer"></a>
    <script src="/js/about_page_app.js"></script>
</body>

</html>