<!DOCTYPE html>

<html>

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T73ZF84');</script>
    <!-- End Google Tag Manager -->
    <title>FAQs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T73ZF84"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{>guest_header}}
    <div class="mediaWhitePaper main-content maxWidth80">
        <div class="pageTitle largeMarginBottom textAlignCenter maxWidth80 mediaWidth100">Frequently Asked Questions</div>
        <div class="faqsDiv marginTop50" id="faq1">
            <div class="faqsTopRow"><a class="faqsLeftSide">What's the purpose of investing in tokenized strategies?</a><i class="material-icons faqsRightSide" id="icon1">expand_more</i></div>
            <p class="faqsText" id="text1">
                Investing in tokenized strategies lets you effectively algo trade without having to code or make trades on traditional markets.
                This saves you the time and money of finding a consistently profitable strategy and helps eliminate mistakes associated with emotional trading.
                Since the data and trading bots for each strategy is stored on-chain, the data/code is tamper-proof and publicly verifiable. 
            </p>
        </div>
        <div class="faqsDiv" id="faq2">
            <div class="faqsTopRow"><a class="faqsLeftSide">Why should I sell a strategy?</a><i class="material-icons faqsRightSide" id="icon2">expand_more</i></div>
            <p class="faqsText" id="text2">
                Selling your strategy lets you receive a 0.3% royalty whenever users invest in your strategy. 
            </p>
        </div>
        <div class="faqsDiv" id="faq3">
            <div class="faqsTopRow"><a class="faqsLeftSide">Are there any fees we should be aware of on our positions, once purchased?</a><i class="material-icons faqsRightSide" id="icon3">expand_more</i></div>
            <p class="faqsText" id="text3">
                We don't collect any maintenance fees on your positions. We only charge a 0.3% transaction fee on strategy deposits and marketplace transactions, and the fee goes to the strategy developer.
            </p>
        </div>
        <div class="faqsDiv" id="faq4">
            <div class="faqsTopRow"><a class="faqsLeftSide">How can I make money with Tradegen?</a><i class="material-icons faqsRightSide" id="icon4">expand_more</i></div>
            <p class="faqsText" id="text4">
                There are several ways to make money with Tradegen, most of which are passive. The main way to make money is to invest in strategies and collect yield based on their performance. You could also earn TGEN passively by providing liquidity on Ubeswap.
                If you build a strategy and it gets approved, you'll receive a royalty whenever users invest in your strategy. 
            </p>
        </div>
        <div class="faqsDiv" id="faq5">
            <div class="faqsTopRow"><a class="faqsLeftSide">Is there a minimum investment?</a><i class="material-icons faqsRightSide" id="icon5">expand_more</i></div>
            <p class="faqsText" id="text5">
                There's no minimum investment to access the platform or invest in strategies.
            </p>
        </div>
        <div class="faqsDiv" id="faq6">
            <div class="faqsTopRow"><a class="faqsLeftSide">Do I need coding skills to build a strategy?</a><i class="material-icons faqsRightSide" id="icon6">expand_more</i></div>
            <p class="faqsText" id="text6">
               You don't need prior coding experience to build a strategy on the platform.
            </p>
        </div>
        <div class="faqsDiv" id="faq7">
            <div class="faqsTopRow"><a class="faqsLeftSide">What drives up the price of tokens, and can they fall in value over time?</a><i class="material-icons faqsRightSide" id="icon7">expand_more</i></div>
            <p class="faqsText" id="text7">
                The token price when you invest in a strategy is (strategy's max pool size) / 1000000. Token prices in the marketplace are determined by demand from users based on scarcity, whether the strategy is currently in a trade, and how they expect the strategy to perform in the near future. 
                If a strategy's max pool size is reached, tokens for that strategy may fetch a higher price. Since users can't deposit or withdraw from the strategy while the strategy is in a trade, the token price for that strategy may vary based on the expected trade outcome.
                For instance, if users expect the trade to yield 5% profit, they may bid the token price 5% higher. 
            </p>
        </div>
        <div class="faqsDiv" id="faq8">
            <div class="faqsTopRow"><a class="faqsLeftSide">Why do my backtests sometimes show 0 trades?</a><i class="material-icons faqsRightSide" id="icon8">expand_more</i></div>
            <p class="faqsText" id="text8">
                If the backtest shows 0 trades, it usually means the entry rules were too strict or there was a contradiction in the strategy
                (such as requiring the current price to be both higher and lower). We don't currently check for contradictions before a user builds a strategy,
                but plan to launch that feature in the near future.
            </p>
        </div>
        <div class="faqsDiv" id="faq9">
            <div class="faqsTopRow"><a class="faqsLeftSide">What happens to my strategy if it gets approved?</a><i class="material-icons faqsRightSide" id="icon9">expand_more</i></div>
            <p class="faqsText" id="text9">
                If your strategy gets approved, the last user who voted for your strategy triggers a smart contract transaction that publishes your hashed strategy data to the Celo blockchain
                and creates fungible tokens for your strategy. You'll receive a 0.3% royalty whenever users invest in your strategy.
            </p>
        </div>
        <div class="faqsDiv" id="faq10">
            <div class="faqsTopRow"><a class="faqsLeftSide">What securities can the strategies trade?</a><i class="material-icons faqsRightSide" id="icon10">expand_more</i></div>
            <p class="faqsText" id="text10">
                Currently the strategies can only trade crypto that have a Chainlink price feed. Although this limits the number of securities strategies can trade, it's crucial for providing a decentralized tamper-proof solution for on-chain trading bots.
                We expect more available price feeds as the crypto ecosystem develops.
            </p>
        </div>
        <div class="faqsDiv" id="faq11">
            <div class="faqsTopRow"><a class="faqsLeftSide">If my strategy was rejected, can I resubmit it?</a><i class="material-icons faqsRightSide" id="icon11">expand_more</i></div>
            <p class="faqsText" id="text11">
                You can submit a strategy as many times as you like, until it gets approved (though we encourage you to make changes before resubmitting it).
            </p>
        </div>
        <div class="faqsDiv" id="faq12">
            <div class="faqsTopRow"><a class="faqsLeftSide">How frequently are yields paid out?</a><i class="material-icons faqsRightSide" id="icon12">expand_more</i></div>
            <p class="faqsText" id="text12">
               Yields are claimable whenever the strategy you invested in exits a trade. The yields can only be claimed while a strategy is in-between trades.
            </p>
        </div>
        <div class="faqsDiv" id="faq13">
            <div class="faqsTopRow"><a class="faqsLeftSide">Once my strategy is listed, can I delete it or make any changes?</a><i class="material-icons faqsRightSide" id="icon13">expand_more</i></div>
            <p class="faqsText" id="text13">
               If your strategy is published on the platform, you can't delete it or make changes to it (for now). When we transition to a decentralized autonomous organization (DAO), we'll let users vote on updates to existing strategies. 
            </p>
        </div>
        <div class="faqsDiv" id="faq14">
            <div class="faqsTopRow"><a class="faqsLeftSide">Can we add our own rules to the strategy builder?</a><i class="material-icons faqsRightSide" id="icon14">expand_more</i></div>
            <p class="faqsText" id="text14">
               We don't offer custom entry/exit rules because our code generation algorithm depends on pre-made rules on our platform. It also improves the security of our platform, since it prevents users from submitting malicious code. If there's a rule you'd like us to add, feel free to reach out and we may add it to our next update!
            </p>
        </div>
        <div class="faqsDiv" id="faq15">
            <div class="faqsTopRow"><a class="faqsLeftSide">What is Alpha? How is it calculated?</a><i class="material-icons faqsRightSide" id="icon15">expand_more</i></div>
            <p class="faqsText" id="text15">
               Alpha measures a strategy's performance relative to the market by comparing average monthly returns, standard deviation of returns, and trade frequency.
            </p>
        </div>
        <div class="faqsDiv" id="faq16">
            <div class="faqsTopRow"><a class="faqsLeftSide">How long does it take to run a backtest?</a><i class="material-icons faqsRightSide" id="icon16">expand_more</i></div>
            <p class="faqsText" id="text16">
               Backtests usually take between 15 seconds and 2 minutes to run depending on how many entry/exit rules you have.
            </p>
        </div>
    </div>
    
    {{>footer}}
    <a class="footerBuffer"></a>
    <script src="/js/faqs_app.js"></script>
    <script src="/js/update_overlay.js"></script>
</body>

</html>