<!DOCTYPE html>

<html>

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T73ZF84');</script>
    <!-- End Google Tag Manager -->
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
</head>

<body>
    <script src="/js/update_overlay.js"></script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T73ZF84"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{>guest_header}}
    <div class="main-content maxWidth mediaWidth75" id="main">
        <div class="homePageRow extraMarginBottom" id="row1">
            <div class="homePageInfoWrapperLeft2" id="left1">
                <div class="homePageInfoTitle extraMarginBottom" id="title1">A new way to algo trade</div>
                <div class="homePageInfoText extraMarginBottom" id="text1">
                    Tradegen is a decentralized platform that lets you trade strategies made by users. Each strategy has its own cryptocurrency token
                    that fluctuates in value based on how the strategy performs.
                </div>
                <div class="buttonRow" id="button1">
                    <button type="button" class="homePageButton" id="getStarted">Try our open beta</button><button type="button" class="homePageButton2" id="learnMore">Learn more</button>
                </div>
            </div>
            <div class="homePageInfoWrapperRight2 mediaHeaderWeb" id="webSlideshow">
                <img src="/img/new_marketplace.JPG" class="homePageImage2" id="marketplaceImageWeb">
                <div class="slideshowDots">
                    <a class="dot" id="1">&#8226;</a>
                    <a class="dot" id="2">&#8226;</a>
                    <a class="dot" id="3">&#8226;</a>
                    <a class="dot" id="4">&#8226;</a>
                </div>
            </div>
            <div class="homePageInfoWrapperRight2 mediaHeaderMobile" id="right1">
                <img src="/img/new_marketplace_phone.JPG" class="homePageImage2" id="marketplaceImageMobile">
                <div class="slideshowDots">
                    <a class="dot" id="1">&#8226;</a>
                    <a class="dot" id="2">&#8226;</a>
                    <a class="dot" id="3">&#8226;</a>
                    <a class="dot" id="4">&#8226;</a>
                </div>
            </div>
        </div>
        
        <div class="homePageIconRow">
            <div class="homePageIconPanel">
                <div class="mediaWidth100"><i class="material-icons homePageIcon">domain_verification</i></div>
                <div class="homePageIconTitle">Quick and easy setup</div>
                <div class="homePageIconText">Connect to Trust Wallet and trade with your digital wallet</div>
            </div>
            <div class="homePageIconPanel">
                <i class="material-icons homePageIcon">code_off</i>
                <div class="homePageIconTitle">Accessible tools</div>
                <div class="homePageIconText">Build strategies and run backtests without coding</div>
            </div>
            <div class="homePageIconPanel">
                <i class="material-icons homePageIcon">swap_horiz</i>
                <div class="homePageIconTitle">Unique way to trade</div>
                <div class="homePageIconText">Trade strategy tokens and have your positions stored as NFTs</div>
            </div>
        </div>

        <div class="homePageRow homePageSecond" id="row2">
            <div class="homePageInfoWrapperLeft" id="left2">
                <div class="homePageInfoTitle" id="title2">Build your first strategy</div>
                <p class="homePageInfoText">
                    <div><a class="homePageNumber">1</a> <a class="homePageNumberText">Build your custom strategy without coding</a></div>
                    <div class="homePageSubText">Have an idea for a trading strategy? Our easy to use interface will let you build it in minutes.</div>
                </p>
                <p class="homePageInfoText">
                    <div><a class="homePageNumber">2</a> <a class="homePageNumberText">Backtest to validate your strategy</a></div>
                    <div class="homePageSubText">We'll run your strategy on historical data to show you how it performs over time. </div>
                </p>
                <p class="homePageInfoText">
                    <div><a class="homePageNumber">3</a> <a class="homePageNumberText">Publish your strategy on the platform</a></div>
                    <div class="homePageSubText">Submit your strategy for approval. It'll get compared against other submissions for the day, through a Solana smart contract. If your strategy has the top performance, it'll get published on the platform for users to trade. You'll receive all sales of your source code from the strategy store and retain ownership of your strategy.</div>
                </p>
            </div>
            <div class="homePageInfoWrapperRight2 mediaHeaderWeb" id="right2">
                <img src="/img/new_build_strategy.JPG" class="homePageImage2">
            </div>
            <div class="homePageInfoWrapperRight2 mediaHeaderMobile" id="right2">
                <img src="/img/new_build_strategy_phone1.JPG" class="homePageImage2">
            </div>
        </div>

        <div class="homePageRow platformIsFreeRow">
            <div class="homePageInfoWrapperMiddle">
                <p class="platformIsFreeTitle">We're in open beta</p>
                <div class="platformIsFreeCan">With Tradegen, you can:</div>
                <div class="mediaShiftLeft">
                    <ul class="platformIsFreeList">
                        <li>
                            Buy/sell tokenized trading strategies
                        </li>
                        <li>
                            Build your own strategies without coding
                        </li>
                        <li>
                            Sell your strategies
                        </li>
                        <li>
                            Buy source code to run strategies locally
                        </li>
                        <li>
                            Collect weekly dividends
                        </li>
                        <li>
                            Connect through Trust Wallet and trade using our public token (QOIN)
                        </li>
                    </ul>
                </div>
                <div class="buffer"></div>
                <div class="textAlignCenter extraMarginBottom"><button type="button" class="homePageButton" id="getStarted2">Explore app</button></div>
            </div>
        </div>

        <div class="homePageRow howToMakeMoneyRow">
            <div class="howToMakeMoneyWrapper">
                <div class="textAlignCenter2">How to Earn QOIN</div>
                <div class="howToMakeMoneyInfoRow">
                    <div class="howToMakeMoneyLeft">
                        <i class="material-icons howToMakeMoneyIcon">swap_horiz</i>
                        <div class="howToMakeMoneySubtitle">Trading Tokens</div>
                    </div>
                    <div class="howToMakeMoneyRight">
                        <a>Strategy tokens fluctuate in value based on user demand, strategy performance, and dividends paid out.</a>
                    </div>
                </div>
                <div class="howToMakeMoneyInfoRow">
                    <div class="howToMakeMoneyLeft">
                        <i class="material-icons howToMakeMoneyIcon">sell</i>
                        <div class="howToMakeMoneySubtitle">Selling Strategies</div>
                    </div>
                    <div class="howToMakeMoneyRight">
                        <a>When you publish your strategy, you'll keep all sales of the source code and receive a 2% royalty whenever users buy new tokens.</a>
                    </div>
                </div>
                <div class="howToMakeMoneyInfoRow">
                    <div class="howToMakeMoneyLeft">
                        <i class="material-icons howToMakeMoneyIcon">payments</i>
                        <div class="howToMakeMoneySubtitle">Dividends</div>
                    </div>
                    <div class="howToMakeMoneyRight">
                        <a>Collect weekly dividends on your positions. Yields start at 15%.</a>
                    </div>
                </div>
                <div class="howToMakeMoneyInfoRow">
                    <div class="howToMakeMoneyLeft">
                        <i class="material-icons howToMakeMoneyIcon">supervisor_account</i>
                        <div class="howToMakeMoneySubtitle">Referrals</div>
                    </div>
                    <div class="howToMakeMoneyRight">
                        <a>When someone uses your referral code to buy new tokens, you get 5% of their purchase and they get 5% cash back.</a>
                    </div>
                </div>
                <div class="howToMakeMoneyInfoRow">
                    <div class="howToMakeMoneyLeft">
                        <i class="material-icons howToMakeMoneyIcon">laptop_chromebook</i>
                        <div class="howToMakeMoneySubtitle">Participate in open beta</div>
                    </div>
                    <div class="howToMakeMoneyRight">
                        <a>When you try out our platform in open beta, you'll be eligible for a pre-sale of our tokens at 30% discount before we launch
                            the decentralized version of our app.
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    <a class="footerBuffer"></a>
    <script src="/js/home_page_app.js"></script>
</body>

</html>