<!DOCTYPE html>

<html>

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T73ZF84');</script>
    <!-- End Google Tag Manager -->
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <script src="/js/update_overlay.js"></script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T73ZF84"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{>guest_header}}
    <div class="main-content maxWidth mediaWidth100Percent mediaMarginLeft0" id="main">
        <div class="homePageRow extraMarginBottom" id="row1">
            <div class="homePageInfoWrapperLeft2" id="left1">
                <div class="homePageInfoTitle extraMarginBottom" id="title1">Decentralized social trading platform for tokenized algos</div>
                <div class="homePageInfoText extraMarginBottom" id="text1" style="color: #6d7380">
                    Trade tokenized strategies developed by the community, build your own strategies without coding, and vote for new strategies on a decentralized platform built on the Celo blockchain. 
                </div>
                <div class="buttonRow" id="button1">
                    <button type="button" class="homePageButton" id="getStarted">Try our open beta</button><button type="button" class="homePageButton2" id="learnMore">Learn more</button>
                </div>
            </div>
            <div class="homePageInfoWrapperRight2 mediaHeaderWeb" id="webSlideshow">
                <img src="/img/profile.png" class="homePageImage2" id="marketplaceImageWeb">
            </div>
            <div class="homePageInfoWrapperRight2 mediaHeaderMobile" id="right1">
                <img src="/img/profile.png" class="homePageImage2" id="marketplaceImageMobile">
            </div>
        </div>

        <div class="homePageRow homePageAlgoRow" id="row1">
            <div class="homePageInfoWrapperLeft3 mediaHeaderWeb">
                <img src="/img/manage_position.png" class="homePageImage2" id="marketplaceImageWeb">
            </div>
            <div class="homePageInfoWrapperLeft3 mediaHeaderMobile">
                <img src="/img/manage_position.png" class="homePageImage2" id="marketplaceImageMobile">
            </div>
            <div class="homePageInfoWrapperRight3">
                <div class="homePageInfoTitle extraMarginBottom" id="title1">Invest in tokenized algos and collect yield</div>
                <div class="homePageInfoText extraMarginBottom" id="text1" style="color: #6d7380">
                    Each strategy has a pool you can invest in, which an on-chain trading bot trades from. When you invest in the pool, you'll receive tokens that generate yield based on how the strategy performs.
                    These tokens are tradable on the Tradegen marketplace and can be burned to withdraw your investment.
                </div>
                <div class="buttonRow" id="button1">
                    <button type="button" class="homePageButton" id="viewStrategies">View strategies</button>
                </div>
            </div>
        </div>
        
        <div class="homePageIconRow">
            <div class="homePageIconPanel">
                <div class="mediaWidth100"><i class="material-icons-outlined homePageIcon">shield</i></div>
                <div class="homePageIconTitle">Secure</div>
                <div class="homePageIconText">Your crypto and strategies are tamper-proof. Tradegen doesn't have access to users' funds.</div>
            </div>
            <div class="homePageIconPanel">
                <i class="material-icons homePageIcon">code_off</i>
                <div class="homePageIconTitle">Accessible</div>
                <div class="homePageIconText">Build strategies without coding on a free platform with no minimum investments.</div>
            </div>
            <div class="homePageIconPanel">
                <i class="material-icons homePageIcon">search</i>
                <div class="homePageIconTitle">Transparent</div>
                <div class="homePageIconText">Strategy data, trading bots, and transactions are publicly verifiable on the Celo blockchain.</div>
            </div>
        </div>

        <div class="homePageRow homePageSecond" id="row2">
            <div class="homePageInfoWrapperLeft" id="left2">
                <div class="homePageInfoTitle" id="title2">Build your first strategy</div>
                <p class="homePageInfoText">
                    <div><a class="homePageNumber">1</a> <a class="homePageNumberText">Build your custom strategy without coding</a></div>
                    <div class="homePageSubText" style="color: #6d7380">Have an idea for a trading strategy? Our easy-to-use interface will let you build it in minutes.</div>
                </p>
                <p class="homePageInfoText">
                    <div><a class="homePageNumber">2</a> <a class="homePageNumberText">Backtest to validate your strategy</a></div>
                    <div class="homePageSubText">Run your strategy on historical data to show you how it performs over time. </div>
                </p>
                <p class="homePageInfoText">
                    <div><a class="homePageNumber">3</a> <a class="homePageNumberText">Publish your strategy on the platform</a></div>
                    <div class="homePageSubText">Users can trade your strategy and you'll collect royalties while retaining ownership of the strategy.</div>
                </p>
            </div>
            <div class="homePageInfoWrapperRight2 mediaHeaderWeb" id="right2">
                <img src="/img/build_strategy.png" class="homePageImage2" style="min-height: 80%; margin-top: 20px">
            </div>
            <div class="homePageInfoWrapperRight2 mediaHeaderMobile" id="right2">
                <img src="/img/build_strategy.png" class="homePageImage2">
            </div>
        </div>

        <div class="dropdownFAQS homePageFAQS mediaHeaderWeb">
            <div class="serviceFAQS" style="text-align: center; padding-left: 5%; font-size: 36px; margin-bottom: 80px">Frequently Asked Questions</div>
            <div class="faqsDiv homePageFaqDiv" id="faq2">
                <div class="faqsTopRow"><a class="faqsLeftSide">What is Tradegen?</a><i class="material-icons faqsRightSide" id="icon2">expand_more</i></div>
                <p class="faqsText" id="text2">
                    Tradegen is a decentralized social trading platform that lets users invest in tokenized trading strategies without needing prior coding or trading experience. 
                </p>
            </div>
            <div class="faqsDiv homePageFaqDiv" id="faq3">
                <div class="faqsTopRow"><a class="faqsLeftSide">Why use blockchain?</a><i class="material-icons faqsRightSide" id="icon3">expand_more</i></div>
                <p class="faqsText" id="text3">
                    Building Tradegen on the Celo blockchain allows us to take advantage of smart contracts. This enables seamless trading, disbursement of yield, and strategy voting, in a transparent and tamper-proof way.  
                </p>
            </div>
            <div class="faqsDiv homePageFaqDiv" id="faq4">
                <div class="faqsTopRow"><a class="faqsLeftSide">Is Tradegen non-custodial?</a><i class="material-icons faqsRightSide" id="icon4">expand_more</i></div>
                <p class="faqsText" id="text4">
                    Yes, Tradegen is non-custodial. 
                </p>
            </div>
            <div class="faqsDiv homePageFaqDiv" id="faq5">
                <div class="faqsTopRow"><a class="faqsLeftSide">How does investing in tokenized strategies work?</a><i class="material-icons faqsRightSide" id="icon5">expand_more</i></div>
                <p class="faqsText" id="text5">
                    Each strategy has a pool that you can invest in using the platform's native crypto token, TGEN. When you invest in the pool, you'll receive fungible tokens proportional to your stake in the pool.
                    A trading bot trades the funds in the strategy's pool and distributes yield to token holders whenever it exits a trade. These tokens can be traded on the Tradegen marketplace or burned to withdraw your investment.
                </p>
            </div>
            <div class="faqsDiv homePageFaqDiv" id="faq6">
                <div class="faqsTopRow"><a class="faqsLeftSide">Is Tradegen open-sourced?</a><i class="material-icons faqsRightSide" id="icon6">expand_more</i></div>
                <p class="faqsText" id="text6">
                    Yes, all of Tradegen's code is open-sourced. The code can be found at: <a href="https://github.com/Tradegen">https://github.com/Tradegen</a>
                </p>
            </div>
        </div>

        <div class="homePageRow platformIsFreeRow">
            <div class="homePageInfoWrapperMiddle">
                <p class="platformIsFreeTitle">We're in open beta</p>
                <div class="platformIsFreeCan">With Tradegen, you can:</div>
                <div class="mediaShiftLeft">
                    <ul class="platformIsFreeList" style="color: #6d7380">
                        <li>
                            Invest in tokenized strategies and collect yield
                        </li>
                        <li>
                            Build strategies without coding
                        </li>
                        <li>
                            Publish your strategies and collect royalties
                        </li>
                        <li>
                            Vote on new strategies
                        </li>
                        <li>
                            Sell strategy tokens on the marketplace
                        </li>
                        <li>
                            Connect through a Celo wallet and trade using our public token (TGEN)
                        </li>
                    </ul>
                </div>
                <div class="buffer"></div>
                <div class="textAlignCenter extraMarginBottom"><button type="button" class="homePageButton" id="getStarted2">Explore app</button></div>
            </div>
        </div>
    </div>
    {{>footer}}
    <a class="footerBuffer"></a>
    <script src="/js/home_page_app.js"></script>
</body>

</html>