<!DOCTYPE html>

<html>

<head>
    <title>Permission Denied</title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>guest_header}}
    <div class="main-content">
        <p>Permission Denied</p>
    </div>
    
    {{>footer}}

</body>

</html>