<!DOCTYPE html>

<html>

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T73ZF84');</script>
    <!-- End Google Tag Manager -->
    <title>Pools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/js/update_overlay.js"></script>
    <script>
        Object.keys(require.cache).forEach(function(key) { delete require.cache[key] });
    </script>
</head>

<body class="appBackground">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T73ZF84"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{#if loginStatus}}
    {{>user_header}}
    {{else}}
    {{>guest_header}}
    {{/if}}
    <div id="loadingPage" class="loadingPage">Loading pool data...</div>
    <div class="main-content">
        <div id="sotong" class="initiallyHidden">
            <div class="marginLeftMinus10">
                <div class="strategyInfoLeftSide">
                    <div class="pageTitle">Pools</div>
                </div>
                <div style="strategyInfoRightSide">
                    <button type="button" class="productButton initiallyHidden" id="createPoolButtonWeb" style="float:right; margin-right: 10%">Create Pool</button>
                </div>
            </div>
            <div class="buffer" style="width: 100%; height: 50px"></div>
            <div class="tableWrapper" id="table" style="margin-top: 40px">
                <div class="mediaTableWrap">
                    <table id="poolsTable" class="transactionsTable"></table>
                </div>
            </div>
            <div id="panels">
            </div>
            <div class="textAlignRight pageNumber mediaDisplayFlex">
                <i class="material-icons icon-AccountCircle" id="decreasePage">chevron_left</i>
                <a id="pageNumber"></a>
                <i class="material-icons icon-AccountCircle pageRight" id="increasePage">chevron_right</i>
            </div>
        </div>
    </div>
    <input type="hidden" id="status" value="{{loginStatus}}">

    <script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/web3modal@1.9.0/dist/index.js"></script>
    <script type="text/javascript" src="https://unpkg.com/evm-chains@0.2.0/dist/umd/index.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@walletconnect/web3-provider@1.2.1/dist/umd/index.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/fortmatic@2.0.6/dist/fortmatic.js"></script>
    <script src="/js/connect_wallet_app.js"></script>
    <script src="/js/pools_app.js"></script>
</body>

</html>