<!DOCTYPE html>

<html>

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T73ZF84');</script>
    <!-- End Google Tag Manager -->
    <title>Privacy Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T73ZF84"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{>guest_header}}
    <div class="main-content maxWidth64 policy">
        <div class="pageTitle extraMarginBottom">Privacy Policy</div>

        <div class="pageSubtitle extraMarginBottom">Updated March 29, 2021</div>

        <div class="pageSubtitle">General</div>
        <div class="extraMarginBottom">
            <p>
                Tradegen, (the "Company", "we", or "us") is committed to respecting and protecting your personal privacy.  This Privacy Policy, including any future modifications and/or addenda (collectively, this "Privacy Policy") applies to all information we may collect through your use of stocks2.io (the "Site").
            </p>
            <p>
                By accessing and/or using the Site, you expressly consent and agree to be bound and abide by this Privacy Policy and our Terms of Use and to comply with all applicable laws, rules, and regulations.
            </p>
            <p>
                If you do not want to agree to this Privacy Policy and the Terms of Use, you must not access or use the Site.
            </p>
        </div>

        <div class="pageSubtitle">What Type of Information Might We Collect and How Do We Collect It?</div>
        <div class="extraMarginBottom">
            <p>
                We may collect and hold personal information about you that can be used to identify you for the purpose of facilitating our relationship with you and your use of our website (including the Tradegen platform).
            </p>
            <p>
                The kinds of information we typically collect include: email address, user name, and public address of your digital wallet.
            </p>
            <p>
                Personal information will generally be collected directly from you through the use of any of our standard forms, over the internet (including through our registration page), or via email. Collection may also occur through your use of the Tradegen platform.
            </p>
            <p>
                If you submit suggestions, ideas, enhancement requests, recommendations, or other feedback in connection with the Site (collectively, "Feedback"), the Company may use or act upon such Feedback without compensation and such Feedback will not be considered confidential.
            </p>
        </div>

        <div class="pageSubtitle">Purpose of Collection</div>
        <div class="extraMarginBottom">
            <p>
                The personal information that we collect and hold about you depends on your interaction with us.
                Generally, we will collect, use, and hold your personal information if it is reasonably necessary for the performance of our functions
                and activities and specifically for the purposes of providing you with access to our website, providing you with access to the Tradegen platform as a registered user,
                responding to your enquiries, enabling transactions to occur within our platform, and facilitating our internal business operations.
            </p>
            
            <p>
                Except as otherwise permitted by law, we only collect sensitive information about you if you consent to the collection of the information, and if the information is reasonably necessary for the performance of our functions, as set out above.
            </p>
        </div>

        <div class="pageSubtitle">Use and Disclosure</div>
        <div class="extraMarginBottom">
            <p>
                Generally, we only use or disclose personal information about you for the purposes for which it was collected (as set out above). We may disclose personal information about you to
                third party service providers, who assist us in operating our business, and providing services to you such as: third parties who assist us with our business (including information technology service providers); these service providers may not be required to comply with our privacy policy.
            </p>
        </div>

        <div class="pageSubtitle">Security</div>
        <div class="extraMarginBottom">
             <p>
                The security of our users' information is very important to us. When users submit personal information via our Site, that information is protected by generally accepted industry standards, and in accordance with applicable data privacy laws. The Company uses a combination of administrative and technical measures to safeguard personal information in its possession against loss, theft, and unauthorized use, disclosure, or modification. However, no one can guarantee the complete safety of your information.
            </p>
        </div>

        <div class="pageSubtitle">Correcting or Updating Personal Information</div>
        <div class="extraMarginBottom">
             <p>
                When you contact us or submit a request, we may include the information you provide to us in your customer account profile. If your information changes, you can correct, update, or remove your information provided to us by sending an email to our customer support team.
            </p>
            <p>
                If you think your interaction with us is no longer secure (for example, if you believe the security of your account may have been compromised), please notify us immediately. 
            </p>
            <p>
                 However, please remember that no method of electronic storage or transmission over the internet is one-hundred percent secure and, therefore, while we strive to protect your personal information, and will comply with applicable data privacy laws, we cannot guarantee the absolute security of such information.
            </p>
        </div>

        <div class="pageSubtitle">Sensitive Information</div>
        <div class="extraMarginBottom">
             <p>
                We do not intentionally collect sensitive personal information, such as political opinions, religious or other beliefs, health information, criminal background information, sexual history or sexual orientation information, or trade union membership ("Sensitive Information"). Please do not disclose it on the Site. If you do provide Sensitive Information to us, we will have access to it, and it will be treated in the same way as is information that is not sensitive.
            </p>
        </div>

        <div class="pageSubtitle">Personal Information of Children</div>
        <div class="extraMarginBottom">
             <p>
                The Site is for a general audience and is not targeted to children.  The Company does not knowingly collect, solicit, or share personal information from children under the age of sixteen (16) without parental consent.  If such a situation is discovered, we will delete that information immediately. If you believe the Company has any information from a child under the age of sixteen (16), please contact us.
            </p>
        </div>

        <div class="pageSubtitle">Changes to Our Privacy Policy and Communicating Changes</div>
        <div class="extraMarginBottom">
             <p>
                This Privacy Policy is subject to change at any time.  All changes will be posted on the Site.  If the changes are significant, we will notify you by email (at the last email we have on file for you) or by prominently posting a notice on our Site.  Changes will become effective as of the earlier of the date we post the revised Privacy Policy, send an email detailing any changes, or post such a notice.  We encourage you to review our Privacy Policy periodically to ensure that you remain informed of changes that may have occurred, including changes that relate to what information we collect, how we use it, and how we share it.
            </p>
            <p>
                By continuing to use the Site after a change has taken place, you are confirming that you have read and agree to the latest version of this Privacy Policy and expressly consent to the use of your Personal Information as detailed herein.
            </p>
        </div>

        <div class="pageSubtitle">Legal Disclaimer</div>
        <div class="extraMarginBottom">
             <p>
                Though we make every effort to preserve user privacy, we may need to disclose your Personal Information to others.  In the event of a sale, merger, public offering, bankruptcy or other change in control of the Company, your information may be shared with the person or business obtaining ownership and control.  Disclosure of your information may be required by law where we have a good-faith belief that such action may be necessary  to comply with a current judicial proceeding, a court order, or legal process.  In such cases, we may raise or waive any legal objection or right available to us.
            </p>
        </div>

        <div class="pageSubtitle">Interpretation</div>
        <div class="extraMarginBottom">
             <p>
                If any provision of this Privacy Policy (including any attachment) is held to be invalid, illegal, or unenforceable by a court or regulatory authority of competent jurisdiction, the rest of this Privacy Policy will remain valid and enforceable to the fullest extent permitted under applicable law.  If the main body of this Privacy Policy conflicts with the terms of any addenda referenced herein, the addenda will control.
            </p>
        </div>
    </div>
    
    {{>footer}}
    <a class="footerBuffer"></a>
    <script src="/js/privacy_policy_app.js"></script>
    <script src="/js/update_overlay.js"></script>
</body>

</html>