<!DOCTYPE html>

<html>

<head>
    <title>Checkout Successful</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    {{>guest_header}}
    <div class="main-content policy">
        <i class="material-icons icon-OrderConfirmation">task_alt</i>
        <div class="orderConfirmationTitle">Your order has been placed</div>
        <p>
            Your order ID is: {{orderID}}
        </p>
        <p>
            You'll receive a confirmation email from PayPal soon and a separate email from Tradegen with the source code, documentation, and backtest reports.
        </p>
        <p>
            If you have any questions or need help setting up, please email us at support@stocks2.io.
        </p>
    </div>
 
</body>
<script src="/js/update_overlay.js"></script>

</html>