<!DOCTYPE html>

<html>

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T73ZF84');</script>
    <!-- End Google Tag Manager -->
    <title>Terms and Conditions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T73ZF84"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{>guest_header}}
    <div class="main-content maxWidth64 policy">
        <div class="pageTitle extraMarginBottom">Terms and Conditions</div>
        <div class="pageSubtitle extraMarginBottom">Updated March 29, 2021</div>
        <p class="pageSubtitle">
            <a>General</a>
            <p>
                This website is operated by Tradegen LLC, and comprises the publicly-facing website currently available at www.stocks2.io and the broader Tradegen platform that is only accessible to registered users. In these terms and conditions, the expressions we, us and our, are a reference to Tradegen LLC.
            </p>
            <p>
                If you use this Website, you are agreeing to be bound by the terms and conditions listed below and any other applicable laws or regulations which apply to this Website and your use of it. If you do not accept these terms and conditions, you are not permitted to use this Website. We reserve the right to amend these terms and conditions from time to time.
            </p>
            <p>
                Amendments will be effective immediately upon notification on this Website. If you do not agree to any change to the terms, you may stop using the Website. Your continued use of this Website following such notification will represent an agreement by you to be bound by the terms and conditions as amended.
            </p>
        </p>
        <p class="pageSubtitle">
            <a>Intellectual Property Rights Statement</a>
            <p>
                All intellectual property rights in this Website, including design, text, graphics, logos, and all software relating to this Website belong to or are licensed by us. 
            </p>
            <p>
                You may not in any form or by any means copy, adapt, reproduce (other than for the purpose of viewing the Website in your browser), store, modify, distribute, print, upload, display, perform, remove any credits, publish post frame within another Website or create derivative works from any part of this Website or commercialize any information obtained from any part of this Website without our prior written permission or, in the case of third party material, from the owner of the intellectual property rights in that material.
            </p>
            <p>
                If you develop a strategy on this Website, you will have ownership over that strategy and may distribute or commercialize any content related to that strategy. 
            </p>
        </p>
        <p class="pageSubtitle">
            <a>Account Security</a>
            <p>
                We take data security seriously, and use industry-standard measures to protect data on our Website (including your data on the Website) from cyber security threats. We regularly test for weaknesses in our code and reassess our cyber security posture. Unfortunately, despite these measures, no data transmission over the internet can be guaranteed as totally secure. We do not warrant and cannot promise with certainty the security of any information that you transmit to us. Accordingly, any information that you transmit to this Website is transmitted at your own risk.
            </p>
            <p>
                You agree to take all reasonable steps to protect the Site from unauthorized access or use. You agree that you will be the sole User of the Site under your account. Your username and password are subject to cancellation or suspension by the Company, including upon your misuse of the usernames or passwords in any way. You agree that you will use your best efforts to prevent any third party from obtaining your username and password, and you will immediately inform the Company of any actual or potential unauthorized access to a username or password or to the Site.
            </p>
        </p>
        <p class="pageSubtitle">
            <a>Warnings</a>
            <p>
                Except as expressly set out in these Website terms, we do not warrant the accuracy, adequacy or completeness of the information on this Website, nor do we undertake to keep this Website updated.
            </p>
            <p>
                Except as expressly set out in these Website terms or to the extent required by non-excludable law, we do not accept responsibility for loss suffered as a result of reliance by you on the accuracy or currency of information contained on this Website.
            </p>
        </p>
        <p class="pageSubtitle">
            <a>Indemnification</a>
            <p>
                Except as expressly set out in these Website terms or to the extent required by non-excludable law, we are not liable for any loss or damage, however caused (including, but not limited to, by our negligence) suffered by you in connection with these Website terms of use or your use of this Website (even as a registered member).
            </p>
            <p>
                You agree to indemnify and hold the Company, its agents, directors, officers, and employees and third-party information providers (collectively, the "Company Indemnified Parties") harmless from and against any and all Losses resulting or arising from any claim, action or proceeding brought by any third party in connection with or relating to your access to or use of the Site (or the use of the Site by another Person using your password) or violation of this Agreement.  "Losses" means any and all penalties, claims, actions, suits, costs, judgments, settlements, and expenses of whatever nature, whether incurred by or issued against an indemnified party or a third party, including: (a) indirect, special, punitive, consequential, or incidental losses or damages (including, but not limited to, trading losses, loss of anticipated profits, loss by reason of shutdown in operation or increased expenses of operation, or other indirect loss or damage); and (b) administrative costs, investigatory costs, litigation costs, expert costs, and auditors' and attorneys' and fees and disbursements (including in-house personnel). 
            </p>
            <p>
                To the maximum extent permitted by law, we are not liable for any loss or damage (including without limitation any Consequential Loss), however caused (including by negligence), suffered in connection with Tokens (including sales, purported sales, failed transactions, disputes, or forfeited Tokens).
            </p>
            <p>
                Consequential Loss means: loss of revenues; loss of reputation; loss of profits; consequential loss; loss of actual or anticipated savings; loss of bargain; indirect loss; lost opportunities (including opportunities to enter into arrangements with third parties); and loss or damage in connection with claims against you by third parties.
            </p>
            <p>
                You indemnify us and our related bodies corporate and our directors and employees against any claim by a third party arising out of a breach of these terms either by you or by any person using your password or ID, whether or not you have authorised that person to use your password or ID.
            </p>
        </p>
        <p class="pageSubtitle">
            <a>Membership</a>
            <p>
                To use the Tradegen platform, you must become a member. To become a member, you must complete your registration details in the manner described on the Website. Membership is free but not transferable.
            </p>
            <p>
                We reserve the right to terminate your membership if you breach these terms and do not remedy the breach within a reasonable time notified by us (this time will vary depending on the nature of the issue in any particular case).
            </p>
            <p>
                You are responsible for protecting the confidentiality of your member details and password. You are responsible for all activity that occurs using your member profile.
            </p>
            <p>
                You acknowledge that any information or material submitted by you to the Website is and will be treated by us as non-confidential and non-proprietary.
            </p>
        </p>
        <p class="pageSubtitle">
            <a>Our Role</a>
            <p>
                We are not responsible for any user-generated content posted on, or available through, the Website. We are entitled to monitor and moderate any user-generated content, however we are not required to do so at all, or at any particular frequency or in any particular manner. We will not enter into discussion about the basis of any moderation decisions, which we make on a final basis in our sole discretion.
            </p>
            <p>
                We do not warrant that we will respond to questions or comments submitted by you to our Websites.
            </p>
            <p>
                If you download any material from the Website, you acknowledge that we are not liable to you for any loss or damage, however caused, arising from the downloading or subsequent use of the downloaded material.
            </p>
            <p>
                We do not warrant that any material you submit to the Website will be protected against loss, misuse, or alteration by third parties. 
            </p>
        </p>
        <p class="pageSubtitle">
            <a>Buying and Selling Within Tradegen</a>
            <p>
                The first sale of each Token will be based on a value that we assign to it in QOIN, the cryptocurrency token for Tradegen. Future sales between registered users will be struck at a price agreed between those users.
            </p>
            <p>
                All subsequent sales of Tokens between registered users must be conducted through the marketplace that we provide on the Website for that purpose.
            </p>
            <p>
                Sales of Tokens will be conducted in QOIN on the Website. It is each user’s responsibility to ensure they have sufficient QOIN to perform any transaction. Transactions made using QOIN are ultimately settled through the Tradegen smart contract on the Solana blockchain. 
            </p>
            <p>
                If the registered user who owns any Tokens wishes to sell the Tokens, it can place the Tokens for sale on the marketplace. Other registered users can bid on the Tokens, and the successful buyer (as determined by the Seller) will become eligible to take ownership of the Tokens (Buyer), subject to paying the agreed price to the Seller for the relevant Tokens, and payment to us of the relevant transaction fee (which is listed in the marketplace).
            </p>
            <p>
                The Buyer must pay the agreed price for the relevant Tokens in QOIN. Ownership of the Tokens will pass on confirmation to our satisfaction of successful and complete payment of the agreed sale price and our transaction fee. If payment is not successfully received, then the sale will not proceed.
            </p>
            <p>
                We will settle any disputes in relation to any ownership of Tokens through the Solana blockchain.
            </p>
        </p>
        <p class="pageSubtitle">
            <a>The Value Of Tokens in Tradegen</a>
            <p>
                The value of Tokens that is not yet assigned to 'ownership' by any particular user is set by us in our discretion, including by the use of algorithms that respond to various factors including the apparent supply and demand, the performance of the underlying trading strategy, and dividend payments.
            </p>
            <p>
                The historical performance of strategies, as depicted through backtest results, serve as a reference and they do not guarantee similar performance in the future. 
            </p>
        </p>
        <p class="pageSubtitle">
            <a>Building and Selling Strategies Within Tradegen</a>
            <p>
                Any strategies developed on the Tradegen platform are considered property of the developer.
            </p>
            <p>
                Strategies developed on the Tradegen platform may be submitted for approval once a day for the listing fee specified on the strategy submission page. Submitting a strategy for approval does not guarantee it will be chosen to be listed on the Tradegen Store. 
            </p>
            <p>
                All submitted strategies are compared against each other and evaluated based on similarity, performance relative to the market, and coherence of strategy parameters. Each day, the strategy with the highest "alpha", that does not cross our threshold for similarity to other submissions, is chosen as the top submission for the day.
            </p>
            <p>
                All users who submit a strategy will be notified of the result of their submission as well as the reasons behind the result. Users may resubmit any strategy that does not get approved.
            </p>
        </p>
        <p class="pageSubtitle">
            <a>Non-bank Treatment</a>
            <p>
                Although we have a balance system, we are not a bank and are not FDIC insured. Users should not treat our services or products as a savings account.
            </p>
        </p>
        <p class="pageSubtitle">
            <a>Governing Law</a>
            <p>
                The law of California will govern any disputes that arise shall be brought to a court in Santa Monica County.
            </p>
        </p>
        <p class="pageSubtitle">
            <a>Refund Policy</a>
            <p>
                The purchase of Tokens in Tradegen are instantaneous and final after payment is complete. Tradegen does not offer refunds for the purchase of Tokens for customer change of mind. Tokens inside Tradegen will only be refunded if there was a technical issue.
            </p>
            <p>
                The purchase of Trading Bots in Tradegen is final after payment is complete. Tradegen will not offer refunds for the purchase of Trading Bots. 
            </p>
            <p>
                Unless caused by a glitch in our software, you shall not force or claim a refund due to a change of mind of any reason. Doing so may be a breach of this terms and agreement. In such case, we reserve the right to freeze your account indefinitely, and no withdrawal refund will be given. 
            </p>
        </p>
        <p class="pageSubtitle">
            <a>Additional Legal Terms</a>
            <p>
                The rights and obligations of the parties under these terms do not merge on completion of any transaction contemplated by these terms. Termination of these terms will not affect any accrued rights or remedies of the parties (noting that rights to Tokens will be extinguished in accordance with these terms).
            </p>
            <p>
                We may subcontract our obligations under these terms, and assign or novate our rights or obligations under these terms.
            </p>
            <p>
                A clause or part of a clause of these terms that is illegal or unenforceable may be severed from these terms and the remaining clauses or parts of the clause of these terms continue in force.
            </p>
            <p>
                These terms supersede all previous agreements about their subject matter. These terms embody the entire agreement between the parties.
            </p>
            <p>
                In these terms, no rule of construction applies in the interpretation of these terms to the disadvantage of the party preparing the terms on the basis that it put forward this agreement or any part of it.
            </p>
        </p>
    </div>
    
    {{>footer}}
    <a class="footerBuffer"></a>
    <script src="/js/privacy_policy_app.js"></script>
    <script src="/js/update_overlay.js"></script>
</body>

</html>