<!DOCTYPE html>

<html>

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T73ZF84');</script>
    <!-- End Google Tag Manager -->
    <title>Tradegen Tokens</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T73ZF84"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{>guest_header}}
    <div class="main-content mediaWidth75 maxWidth75">
        <div class="pageTitle">Tokens on Tradegen</div>
        <p class="aboutPageContent">
            Tradegen will provide three types of tokens:
        </p>
        <ul class="aboutPageContent">
            <li class="maxWidth80">
                <a class="extraWeight">Internal currency “QOIN”: </a>An SPL token on the Solana network.
                QOIN can be exchanged for SOL on an exchange supporting SPL tokens.
                QOIN is used for trading tokenized strategies on the Tradegen platform.
            </li>
            <li class="maxWidth80">
                <a class="extraWeight">Customized positions: </a>A Non-Fungible Token (NFT) on the Solana network that represents a customized position and all user-created content associated with the position.
                These tokens can be sold on the Tradegen marketplace in exchange for QOIN. 
            </li>
            <li class="maxWidth80">
                <a class="extraWeight">Strategy tokens: </a>SPL tokens on the Solana network that can only be traded on the Tradegen platform.
                These tokens fluctuate in value based on the associated strategy’s performance and demand from users. 
            </li>
        </ul>
        <p class="aboutPageContent marginTop50">
            Initially 1,000,000,000 QOIN have been minted, with an initial exchange rate of 0.1 SOL per QOIN. The token is distributed as follows:
        </p>
        <div class="homePageInfoWrapperLeft">
            <img src="/img/token_allocation.JPG" class="homePageImage2 mediaMarginTop30">
        </div>
        <div class="homePageInfoWrapperLeft marginTop50">
            <img src="/img/use_of_proceeds.JPG" class="homePageImage2 mediaMarginTop30">
        </div>
        
    </div>
    
    {{>footer}}
    <a class="footerBuffer"></a>
    <script src="/js/open_beta_app.js"></script>
    <script src="/js/update_overlay.js"></script>
</body>

</html>