<!DOCTYPE html>

<html>

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T73ZF84');</script>
    <!-- End Google Tag Manager -->
    <title>Updates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T73ZF84"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{>guest_header}}
    <div>
        <div class="pageTitle textAlignCenter">Updates</div>
        <p class="aboutPageContent textAlignCenter mediaWidth90 updatesPageWeb">
            Tradegen is in rapid development; check here for the latest updates!
        </p>
         <div class="updatesPagePanel largeMarginBottom">
            <div class="width100">
                <div class="updatesPanelLeft">Upcoming</div>
                <div class="updatesPanelRight">Expected May 25-27</div>
            </div>
            <div class="aboutPageContent">
                <p>
                    <a>- update docs</a><br>
                    <a>- update whitepaper</a><br>
                </p>
            </div>
        </div>
        <div class="updatesPagePanel largeMarginBottom">
            <div class="width100">
                <div class="updatesPanelLeft">Patch 0.18</div>
                <div class="updatesPanelRight">May 24, 2021</div>
            </div>
            <div class="aboutPageContent">
                <p>
                    <a>- updated content on info pages</a><br>
                    <a>- removed position pages and non-fungible positions</a><br>
                    <a>- removed trading bot store</a><br>
                    <a>- removed notifications page</a><br>
                    <a>- replaced non-fungible strategy tokens with fungible LP tokens</a><br>
                    <a>- developed an incentivized community voting system for strategy approvals</a><br>
                    <a>- switched from stocks to crypto for new strategies</a><br>
                    <a>- switched to Chainlink price feed for on-chain bots</a><br>
                    <a>- allow users to stake TGEN in strategies</a><br>
                    <a>- LP tokens generate yield based on strategy performance</a><br>
                </p>
            </div>
        </div>
        <div class="updatesPagePanel largeMarginBottom">
            <div class="width100">
                <div class="updatesPanelLeft">Patch 0.17</div>
                <div class="updatesPanelRight">May 8, 2021</div>
            </div>
            <div class="aboutPageContent">
                <p>
                    <a class="extraWeight">- launched the decentralized version of Tradegen platform in closed beta</a><br>
                </p>
            </div>
        </div>
        <div class="updatesPagePanel largeMarginBottom">
            <div class="width100">
                <div class="updatesPanelLeft">Patch 0.16</div>
                <div class="updatesPanelRight">April 30, 2021</div>
            </div>
            <div class="aboutPageContent">
                <p>
                    <a>- added Stats page</a><br>
                    <a>- added more content to Home page</a><br>
                    <a>- added option for users to buy a position from the position page</a><br>
                    <a>- fixed profit target bug on strategy builder</a><br>
                    <a>- users can now choose whether to publish their source code</a><br>
                </p>
            </div>
        </div>
        <div class="updatesPagePanel largeMarginBottom">
            <div class="width100">
                <div class="updatesPanelLeft">Patch 0.15</div>
                <div class="updatesPanelRight">April 19, 2021</div>
            </div>
            <div class="aboutPageContent">
                <p>
                    <a class="extraWeight">- updated whitepaper</a><br>
                    <a>- updated pricing model for non-fungible positions</a><br>
                </p>
            </div>
        </div>
        <div class="updatesPagePanel largeMarginBottom">
            <div class="width100">
                <div class="updatesPanelLeft">Patch 0.14</div>
                <div class="updatesPanelRight">April 15, 2021</div>
            </div>
            <div class="aboutPageContent">
                <p>
                    <a>- switched to wallet-based login</a><br>
                    <a>- added Docs section</a><br>
                    <a>- server tuning on Profile, Settings, and Transactions pages</a><br>
                </p>
            </div>
        </div>
        <div class="updatesPagePanel largeMarginBottom">
            <div class="width100">
                <div class="updatesPanelLeft">Patch 0.13</div>
                <div class="updatesPanelRight">April 12, 2021</div>
            </div>
            <div class="aboutPageContent">
                <p>
                    <a>- improved UI on Profile and Settings pages</a><br>
                    <a>- added Transaction History page for strategies</a><br>
                    <a>- migrated trading bot store from website to app</a><br>
                    <a>- added option for users to download source code and documentation of purchased bots</a><br>
                    <a>- transactions on trading bot store are now done through native token</a><br>
                </p>
            </div>
        </div>
        <div class="updatesPagePanel largeMarginBottom">
            <div class="width100">
                <div class="updatesPanelLeft">Patch 0.12</div>
                <div class="updatesPanelRight">April 10, 2021</div>
            </div>
            <div class="aboutPageContent">
                <p>
                    <a>- added more comparators and indicators to strategy builder</a><br>
                    <a>- added a new strategy</a><br>
                    <a>- linked social media pages</a><br>
                    <a>- redesigned order flow for strategy store</a><br>
                    <a>- added link to public positions on profile page</a><br>
                    <a>- fixed bug with live test</a><br>
                    <a>- UI improvements on info pages</a><br>
                    <a>- support for CELO and CUSD tokens</a><br>
                    <a>- option to publish/remove positions</a><br>
                </p>
            </div>
        </div>
        <div class="updatesPagePanel largeMarginBottom">
            <div class="width100">
                <div class="updatesPanelLeft">Patch 0.11</div>
                <div class="updatesPanelRight">April 2, 2021</div>
            </div>
            <div class="aboutPageContent">
                <p>
                    <a>- redesigned strategy builder</a><br>
                    <a>- generalized strategy builder for trading stocks intraday</a><br>
                    <a>- fixed modal bug on profile page</a><br>
                </p>
            </div>
        </div>
        <div class="updatesPagePanel largeMarginBottom">
            <div class="width100">
                <div class="updatesPanelLeft">Patch 0.10</div>
                <div class="updatesPanelRight">March 31, 2021</div>
            </div>
            <div class="aboutPageContent">
                <p>
                    <a>- custom sorting for tables</a><br>
                    <a>- included symbol for strategies</a><br>
                    <a>- added filter for marketplace</a><br>
                    <a>- added page for strategy token info</a><br>
                    <a>- fixed bug with displaying balance</a><br>
                    <a>- fixed bug with displaying price history</a><br>
                </p>
            </div>
        </div>
        <div class="updatesPagePanel largeMarginBottom">
            <div class="width100">
                <div class="updatesPanelLeft">Patch 0.9</div>
                <div class="updatesPanelRight">March 29, 2021</div>
            </div>
            <div class="aboutPageContent">
                <p>
                    <a class="extraWeight">- launched the centralized version of Tradegen platform in open beta</a><br>
                    <a>- switched login system to Trust Wallet for decentralized version</a><br>
                    <a>- set up tokenomics for TGEN</a><br>
                    <a>- added a page for tokens</a><br>
                    <a>- published public Github page for Tradegen</a><br>
                    <a>- updated Privacy Policy</a><br>
                    <a>- updated Terms and Conditions</a><br>
                </p>
            </div>
        </div>
        <div class="updatesPagePanel largeMarginBottom">
            <div class="width100">
                <div class="updatesPanelLeft">Patch 0.8</div>
                <div class="updatesPanelRight">March 26, 2021</div>
            </div>
            <div class="aboutPageContent">
                <p>
                    <a>- set up login system for MetaMask</a><br>
                    <a>- minor changes to UI and info on home page</a><br>
                </p>
            </div>
        </div>
        <div class="updatesPagePanel largeMarginBottom">
            <div class="width100">
                <div class="updatesPanelLeft">Patch 0.7</div>
                <div class="updatesPanelRight">March 23, 2021</div>
            </div>
            <div class="aboutPageContent">
                <p>
                    <a class="extraWeight">- updated whitepaper</a><br>
                    <a>- minor UI improvements on app pages</a><br>
                    <a>- updated price model to improve stability at extremes</a><br>
                    <a>- increased price precision to 4 decimals</a><br>
                    <a>- price data is now displayed in native token (TGEN)</a><br>
                </p>
            </div>
        </div>
        <div class="updatesPagePanel largeMarginBottom">
            <div class="width100">
                <div class="updatesPanelLeft">Patch 0.6</div>
                <div class="updatesPanelRight">March 21, 2021</div>
            </div>
            <div class="aboutPageContent">
                <p>
                    <a>- started developing blockchain layer</a><br>
                    <a>- updated Home and About pages</a><br>
                </p>
            </div>
        </div>
        <div class="updatesPagePanel largeMarginBottom">
            <div class="width100">
                <div class="updatesPanelLeft">Patch 0.5</div>
                <div class="updatesPanelRight">March 19, 2021</div>
            </div>
            <div class="aboutPageContent">
                <p>
                    <a>- improved UI on info pages</a><br>
                    <a>- added support for strategy builder on mobile</a><br>
                    <a>- added support for graphs on mobile</a><br>
                    <a>- added filters/sorting for transactions, positions, and notifications</a><br>
                </p>
            </div>
        </div>
        <div class="updatesPagePanel largeMarginBottom">
            <div class="width100">
                <div class="updatesPanelLeft">Patch 0.4</div>
                <div class="updatesPanelRight">March 16, 2021</div>
            </div>
            <div class="aboutPageContent">
                <p>
                    <a>- added new strategies</a><br>
                    <a>- fixed issue with rendering tables on mobile</a><br>
                    <a>- added public 'position page' feature with transaction history</a><br>
                    <a>- fixed modal bug on mobile</a><br>
                    <a>- fixed header display on mobile</a><br>
                    <a>- created public profile pages for users</a><br>
                    <a>- setup links between profiles, strategies, and position pages</a><br>
                </p>
            </div>
        </div>
        <div class="updatesPagePanel largeMarginBottom">
            <div class="width100">
                <div class="updatesPanelLeft">Patch 0.3</div>
                <div class="updatesPanelRight">March 13, 2021</div>
            </div>
            <div class="aboutPageContent">
                <p>
                    <a>- UI updates on info pages</a><br>
                    <a>- improved security</a><br>
                    <a>- optimized backtesting script</a><br>
                    <a>- fixed issue with modals on mobile</a><br>
                    <a>- improved table display on mobile</a><br>
                </p>
            </div>
        </div>
        <div class="updatesPagePanel largeMarginBottom">
            <div class="width100">
                <div class="updatesPanelLeft">Patch 0.2</div>
                <div class="updatesPanelRight">March 3, 2021</div>
            </div>
            <div class="aboutPageContent">
                <p>
                    <a class="extraWeight">- published whitepaper</a><br>
                </p>
            </div>
        </div>
        <div class="updatesPagePanel largeMarginBottom">
            <div class="width100">
                <div class="updatesPanelLeft">Patch 0.1</div>
                <div class="updatesPanelRight">February 27, 2021</div>
            </div>
            <div class="aboutPageContent">
                <p>
                    <a class="extraWeight">- released a centralized version of the Tradegen platform in closed beta</a><br>
                    <a>- added no-code strategy builder</a><br>
                    <a>- developed code generation algorithm</a><br>
                    <a>- created foundation for virtual economy</a><br>
                    <a>- integrated back-testing and live-testing scripts</a><br>
                </p>
            </div>
        </div>
        <div class="updatesPagePanel largeMarginBottom">
            <div class="width100">
                <div class="updatesPanelLeft">Patch 0.0</div>
                <div class="updatesPanelRight">January 15, 2021</div>
            </div>
            <div class="aboutPageContent">
                <p>
                    - started developing Tradegen platform
                </p>
            </div>
        </div>
    </div>
    
    {{>footer}}
    <a class="footerBuffer"></a>
    <script src="/js/privacy_policy_app.js"></script>
    <script src="/js/update_overlay.js"></script>
</body>

</html>