<!DOCTYPE html>

<html>

<head>
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <script
        src="https://code.jquery.com/jquery-3.1.1.js"
        crossorigin="anonymous">
    </script>
    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/update_overlay.js"></script>
    <script>
        Object.keys(require.cache).forEach(function(key) { delete require.cache[key] });
    </script>
</head>

<body class="appBackground">
    {{>user_header}}
    <div id="loadingPage" class="loadingPage">Loading profile data...</div>
    <div class="main-content initiallyHidden" id="mainContent">
        <div class="extraMarginBottom marginLeftMinus10 displayProperty">
            <div class="pageTitle" id="username" style="text-align: left; width: 60%"></div>
        </div>

        <div class="profileTopBar extraMarginBottom marginLeftMinus10">
            <div class="profileTopBarElement">
                <i class="material-icons icon-ProfilePositions">layers</i>
                <div id="numberOfStrategiesVotedFor" class="profileText extraWeight font18 helvetica"></div>
                <div class="profileText helvetica">Strategies Voted For</div>
            </div>
            <div class="profileTopBarElement">
                <i class="material-icons icon-ProfileShares">apps</i>
                <div id="totalNumberOfSharesOwned" class="profileText extraWeight font18 helvetica"></div>
                <div class="profileText helvetica">LP Tokens</div>
            </div>
            <div class="profileTopBarElement">
                <i class="material-icons icon-ProfileNetWorth">account_balance</i>
                <div id="netWorth" class="profileText extraWeight font18 helvetica"></div>
                <div class="profileText helvetica">Invested</div>
            </div>
            <div class="profileTopBarElement">
                <i class="material-icons icon-ProfileNetReturn">timeline</i>
                <div id="totalYieldClaimed" class="profileText extraWeight font18 helvetica"></div>
                <div class="profileText helvetica">Yield Claimed</div>
            </div>
            <div class="profileTopBarElement">
                <i class="material-icons icon-ProfileNetReturn">today</i>
                <div id="memberSince" class="profileText extraWeight font18 helvetica"></div>
                <div class="profileText helvetica">Member Since</div>
            </div>
        </div>

        <div class="tableWrapper" id="liveStrategiesDiv">
            <div class="profileTableTitle helvetica">Live Strategies</div>
            <div class="mediaTableWrap">
                <table id="liveStrategiesTable" class="transactionsTable"></table>
            </div>
        </div>
        <div class="tableWrapper" id="positionsForSaleDiv">
            <div class="profileTableTitle helvetica">Positions</div>
            <div class="mediaTableWrap">
                <table id="positionsForSaleTable" class="transactionsTable"></table>
            </div>
        </div>
    </div>

    <div id="cancelListingModal" style="display:none">
        <div class="modalTitle">Cancel Listing</div>
        <p id="cancelListingText" class="pageSubtitle"></p>
        <p class="paymentModalText extraMarginBottom">Are you sure you want to cancel this listing?</p>
        <button type="button" id="confirmCancellationButton" class="paymentModalYesButton">YES</button>
        <button type="button" id="cancelCancellationButton" class="paymentModalCancelButton">NO</button>
    </div>

    <div id="editListingModal" style="display:none">
        <div class="modalTitle">Edit Listing</div>
        <p>
            <a class="paymentModalText">Sale price: </a>
            <input type="number" min="0" max="9999" value="" class="settingsInput extraMarginBottom" name="price" id="price"/>
            <a class="paymentModalText">TGEN per token</a>
        </p>
        <button type="button" id="confirmEditButton" class="paymentModalYesButton">SAVE</button>
        <button type="button" id="cancelEditButton" class="paymentModalCancelButton">CANCEL</button>
    </div>

    <div id="successModalCancel" class="height55" style="display:none">
        <div class="messageModal" id="successTitleCancel">
            <i class="material-icons marginRight15px messageModalIcon" id="successButtonCancel">check_circle_outline</i>
            <div class="messageModalText">Cancelled listing</div>
        </div>
    </div>

    <div id="errorModalCancel" class="height55" style="display:none">
        <div class="messageModal" id="errorTitleCancel">
            <i class="material-icons marginRight15px messageModalIcon" id="errorButtonCancel">error_outline</i>
            <div class="messageModalText" id="errorTextCancel">Error</div>
        </div>
    </div>

    <div id="successModalEdit" class="height55" style="display:none">
        <div class="messageModal" id="successTitleEdit">
            <i class="material-icons marginRight15px messageModalIcon" id="successButtonEdit">check_circle_outline</i>
            <div class="messageModalText">Updated listing</div>
        </div>
    </div>

    <div id="errorModalEdit" class="height55" style="display:none">
        <div class="messageModal" id="errorTitleEdit">
            <i class="material-icons marginRight15px messageModalIcon" id="errorButtonEdit">error_outline</i>
            <div class="messageModalText" id="errorTextEdit">Error</div>
        </div>
    </div>

    <input type="hidden" id="sotong" value="{{token}}">
    <input type="hidden" id="sotong2" value="{{address}}">
    <script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/web3modal@1.9.0/dist/index.js"></script>
    <script type="text/javascript" src="https://unpkg.com/evm-chains@0.2.0/dist/umd/index.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@walletconnect/web3-provider@1.2.1/dist/umd/index.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/fortmatic@2.0.6/dist/fortmatic.js"></script>
    <script src="/js/connect_wallet_app.js"></script>
    <script src="/js/profile_app.js"></script>
</body>

<div id="pageMask" class="initiallyHidden"></div>

</html>