<!DOCTYPE html>

<html>

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T73ZF84');</script>
    <!-- End Google Tag Manager -->
    <title>Tradegen White Paper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T73ZF84"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{>guest_header}}
    <div class="main-content mediaWidth75 maxWidth75">
        <div class="pageTitle textAlignCenter maxWidth80 mediaWidth100">Whitepaper</div>

        <div class="aboutPageContent textAlignCenter">
            <p>
                Tradegen is a concept for a decentralized social trading platform for tokenized trading strategies. Users can buy and sell tokens of strategies other users create, develop their own strategies, and eventually publish content on the platform. These tokens allow users to invest in a trading strategy without having to trade on the stock market.
            </p>
            <p>
                The objective of Tradegen is to make algo trading more accessible by letting users trade tokenized algos without needing prior coding or trading experience. 
            </p>
            <p>
                The end goal of Tradegen is to create a decentralized real-time market that makes algo trading and blockchain technology more accessible to the general public. This market will be a key feature of a social platform where users can interact with one another and add content to NFT-backed pages associated with their positions. It’ll provide a unique gamified method for users to make potential profits through alternative investments, join an online community of traders, and learn more about trading and crypto in general. 
            </p>
            <p>
                This document lays out the roadmap, technical foundations, and market dynamics of Tradegen.
            </p>
        </div>
        <div id="button1" class="maxWidth80 mediaWidth100 textAlignCenter">
            <button type="button" class="homePageButton" id="white_paper">Download</button>
            <button type="button" class="tokenInfoButton" id="token_info">Token info</button>
        </div>
    </div>
    
    {{>footer}}
    <a class="footerBuffer"></a>
    <script src="/js/white_paper_app.js"></script>
    <script src="/js/update_overlay.js"></script>
</body>

</html>