<!DOCTYPE html>

<html>

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T73ZF84');</script>
    <!-- End Google Tag Manager -->
    <title>Tradegen White Paper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T73ZF84"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{>guest_header}}
    <div class="main-content maxWidth80 marginLeft18 mediaWhitePaper">
        <div class="pageTitle textAlignCenter maxWidth80 mediaWidth100">Whitepaper</div>

        <div class="aboutPageContent textAlignCenter">
            <p>
                Tradegen is a decentralized social trading platform that lets users invest in tokenized strategies developed by other users. Users can trade tokens of strategies they invest in, develop their own strategies, vote on new strategies, and eventually trade tokenized pools actively managed by other users.
            </p>
            <p>
                Each strategy has a pool of TGEN (the platform's native token) that users can contribute to in exchange for tokens that represent their stake in the pool.
                An on-chain trading bot trades synthetic versions of popular assets using the funds in the pool (verifiable on the Celo blockchain), and distributes profits
                to users proportional to how many tokens they own.   
            </p>
            <p>
                This lets users algo trade without having to write code or make trades on traditional markets, while enjoying the benefits of blockchain technology. Since the trading
                bots run on-chain, all backtest results and transactions are tamper-proof and publicly verifiable. 
            </p>
            <p>
                Tradegen's goal is to make algo trading more accessible through blockchain technology and social trading.
                We envision a community-owned platform where users can freely trade tokenized strategies and synthetic assets, interact with other users, explore strategies, and learn more about crypto and trading in general.
                Through tokenized strategies, a social network, an incentivized voting system, and a marketplace for strategy tokens, we aim to provide a unique gamified experience for our users.
            </p>
            <p>
                This document lays out the roadmap, technical foundations, and market dynamics of Tradegen.
            </p>
        </div>
        <div id="button1" class="maxWidth80 mediaWidth100 textAlignCenter">
            <button type="button" class="homePageButton" id="white_paper">Download</button>
            <button type="button" class="tokenInfoButton" id="token_info">Token info</button>
        </div>
    </div>
    
    {{>footer}}
    <a class="footerBuffer"></a>
    <script src="/js/white_paper_app.js"></script>
    <script src="/js/update_overlay.js"></script>
</body>

</html>