<!DOCTYPE html>

<html>

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T73ZF84');</script>
    <!-- End Google Tag Manager -->
    <title>Tradegen White Paper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T73ZF84"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{>guest_header}}
    <div class="main-content maxWidth80 marginLeft18 mediaWhitePaper">
        <div class="pageTitle textAlignCenter maxWidth80 mediaWidth100">Whitepaper</div>

        <div class="aboutPageContent textAlignCenter">
            <p>
                Tradegen is a decentralized social trading platform that aims to make algo trading more inclusive and transparent by removing traditional barriers to entry. The platform consists of trading strategies, user-managed pools, and a marketplace for custom indicators/comparators (used when building trading bots). 
            </p>
            <p>
                Each strategy has a pool that users can contribute to in exchange for tokens that represent their stake in the pool.
                An on-chain trading bot trades assets on Ubeswap using funds in the pool, and distributes profits to users proportional to how many tokens they own.
                This lets users effectively algo trade without having to write code or trade manually, while enjoying the benefits of blockchain technology.  
            </p>
            <p>
                Users can also invest in actively managed funds and receive tokens representing their stake.
                While waiting for the pools to generate profit, users can deposit their tokens into liquidity mining pools and collect yield.
                Users pay a performance fee to the fund manager when withdrawing from the fund.
            </p>
            <p>
                Developers can use the company’s SDK to build custom indicators and comparators, which can be sold on the Tradegen marketplace to users wanting to integrate them into trading bots.
                They can also use the SDK to create custom trading bots that trade actively managed funds.
            </p>
            <p>
                Tradegen’s goal is to make the markets more accessible by democratizing algo trading.
                Through blockchain technology and social trading, we aim to provide a fair and transparent platform where anyone has a chance to build prosperity.
                We envision an inclusive community-owned platform where users have an equal opportunity to explore the markets and monetize their insights.
            </p>
            <p>
                This document lays out the roadmap, technical foundations, and market dynamics of Tradegen.
            </p>
        </div>
        <div id="button1" class="maxWidth80 mediaWidth100 textAlignCenter">
            <button type="button" class="homePageButton" id="white_paper">Download</button>
            <button type="button" class="tokenInfoButton" id="token_info">Token info</button>
        </div>
    </div>
    
    {{>footer}}
    <a class="footerBuffer"></a>
    <script src="/js/white_paper_app.js"></script>
    <script src="/js/update_overlay.js"></script>
</body>

</html>