<footer>
    <div id="regularFooter" class="footerTop mediaHeaderWeb">
        <div class="footerLeftParentDiv">
            <div class="footerLeftTop">
                <img src="/img/logo_footer.JPG" class="footerImage">
            </div>
            <div class="footerLeftBottom">
                <div class="displayProperty extraMarginBottom">
                    <a id="facebook"><i class="fa fa-facebook-square socialIcon marginLeft0"></i></a>
                    <a id="github" href="https://github.com/Tradegen"><i class="fa fa-github socialIcon"></i></a>
                    <a id="linkedin" href="https://www.linkedin.com/company/tradegen-platform"><i class="fa fa-linkedin socialIcon"></i></a>
                </div>
                <div class="helvetica">© 2021 TradeGen LLC. All rights reserved.</div>
            </div>
        </div>
        <div class="navbarFooter">
            <div class="footerFloatLeft">
                <div class="footerColumn">
                    <div class="footerColumnTitle">Resources</div>
                    <div class="ft marginTop30">
                        <a href="/faqs">FAQs</a>
                    </div>
                    <div class="ft">
                        <a href="https://docs.tradegen.io/tradegen/">Docs</a>
                    </div>
                    <div class="ft">
                        <a href="/white_paper">Whitepaper</a>
                    </div>
                    <div class="ft">
                        <a href="/token">Token</a>
                    </div>
                    <div class="ft">
                        <a href="/strategies">Strategies</a>
                    </div>
                </div>
                <div class="footerColumn">
                    <div class="footerColumnTitle">Company</div>
                    <div class="ft marginTop30">
                        <a href="/about">About Tradegen</a>
                    </div>
                    <div class="ft">
                        <a href="/updates">Updates</a>
                    </div>
                    <div class="ft">
                        <a href="/contact">Contact Us</a>
                    </div>
                </div>
                <div class="footerColumn">
                    <div class="footerColumnTitle">Legal</div>
                    <div class="ft marginTop30">
                        <a href="/privacy_policy">Privacy Policy</a>
                    </div>
                    <div class="ft">
                        <a href="/terms_and_conditions">Terms and Conditions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mediaFooter mediaHeaderMobile" id="mediaFooter">
        <div class="footerLeftTop">
            <img src="/img/logo_footer.JPG" class="footerImage">
        </div>
        <div class="footerColumn">
            <div class="footerColumnTitle">Resources</div>
            <div class="ft marginTop30">
                <a href="/faqs">FAQs</a>
            </div>
            <div class="ft">
                <a href="https://tradegen.gitbook.io/tradegen/">Docs</a>
            </div>
            <div class="ft">
                <a href="/white_paper">Whitepaper</a>
            </div>
            <div class="ft">
                <a href="/token">Token</a>
            </div>
            <div class="ft">
                <a href="/strategies">Strategies</a>
            </div>
        </div>
        <div class="footerColumn">
            <div class="footerColumnTitle">Company</div>
            <div class="ft marginTop30">
                <a href="/about">About Tradegen</a>
            </div>
            <div class="ft">
                <a href="/updates">Updates</a>
            </div>
            <div class="ft">
                <a href="/contact">Contact Us</a>
            </div>
        </div>
        <div class="footerColumn">
            <div class="footerColumnTitle">Legal</div>
            <div class="ft marginTop30">
                <a href="/privacy_policy">Privacy Policy</a>
            </div>
            <div class="ft">
                <a href="/terms_and_conditions">Terms and Conditions</a>
            </div>
        </div>
        <div class="displayProperty extraMarginBottom marginTop50 marginLeft25Percent">
            <a id="facebook"><i class="fa fa-facebook-square socialIcon marginLeft0"></i></a>
            <a id="github" href="https://github.com/Tradegen"><i class="fa fa-github socialIcon"></i></a>
            <a id="linkedin" href="https://www.linkedin.com/company/tradegen-platform"><i class="fa fa-linkedin socialIcon"></i></a>
        </div>
        <div class="copyright">© 2021 TradeGen LLC. All rights reserved.</div>
    </div>
</footer>