<footer>
    <div id="regularFooter" class="footerTop mediaHeaderWeb">
        <div class="footerLeftParentDiv">
            <div class="footerLeftTop">
                <a href="/"><img src="/img/logo_with_name.jpg" class="footerImage"></a> 
            </div>
            <div class="footerLeftBottom">
                <div class="helvetica">© 2021 Tradegen LLC. All rights reserved.</div>
            </div>
        </div>
        <div class="navbarFooter">
            <div class="footerFloatLeft">
                <div class="footerColumn">
                    <div class="footerColumnTitle">Resources</div>
                    <div class="ft marginTop30">
                        <a href="/faqs">FAQs</a>
                    </div>
                    <div class="ft">
                        <a href="/privacy_policy">Privacy Policy</a>
                    </div>
                    <div class="ft">
                        <a href="/terms_and_conditions">Terms and Conditions</a>
                    </div>
                    <div class="ft">
                        <a href="/white_paper">Whitepaper</a>
                    </div>
                    <div class="ft">
                        <a href="/token">Token</a>
                    </div>
                </div>
            </div>
            <div class="footerFloatRight">
                <div class="footerColumn">
                    <div class="footerColumnTitle">Company</div>
                    <div class="ft marginTop30">
                        <a href="/about">About Tradegen</a>
                    </div>
                    <div class="ft">
                        <a href="/updates">Updates</a>
                    </div>
                    <div class="ft">
                        <a href="/contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mediaFooter mediaHeaderMobile" id="mediaFooter">
        <div class="footerLeftTop">
            <a href="/"><img src="/img/logo.png" class="footerImage"></a> 
        </div>
        <div class="footerColumn">
            <div class="footerColumnTitle">Company</div>
            <div class="ft marginTop30">
                <a href="/about">About Tradegen</a>
            </div>
            <div class="ft">
                <a href="/updates">Updates</a>
            </div>
            <div class="ft">
                <a href="/contact">Contact Us</a>
            </div>
        </div>
        <div class="footerColumn">
            <div class="footerColumnTitle">Resources</div>
            <div class="ft marginTop30">
                <a href="/faqs">FAQs</a>
            </div>
            <div class="ft">
                <a href="/privacy_policy">Privacy Policy</a>
            </div>
            <div class="ft">
                <a href="/terms_and_conditions">Terms and Conditions</a>
            </div>
            <div class="ft">
                <a href="/white_paper">Whitepaper</a>
            </div>
            <div class="ft">
                <a href="/token">Token</a>
            </div>
        </div>
        <div class="copyright">© 2021 Stocks2 LLC. All rights reserved.</div>
    </div>
</footer>