<header id="myHeader">
    <div class="mediaHeaderWeb">
        <div class="navbar">
            <a href="/"><img src="/img/logo_with_name.JPG" class="icon"></a> 
            
            <div class="headerRightSide marginRight10">
                <div class="dropdown width120">
                    <a class="store" href="/strategies">Strategies</a>
                </div> 
                <div class="dropdown width90">
                    <a class="store" href="/market_stats">Stats</a>
                </div>
                <div class="dropdown width90">
                    <a class="store" href="/about">About</a>
                </div>
                <div class="dropdown width90">
                    <a class="store" href="/token">Token</a>
                </div>
                <div class="dropdown width120">
                    <a class="store" href="/white_paper">Whitepaper</a>
                </div>
                <div class="dropdown">
                    <button type="submit" id="headerGetStartedButton" class="loginButton">Explore app</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mediaHeaderMobile">
        <div class="navbar">
            <a href="/"><img src="/img/logo_with_name.JPG" class="appNavbarIconWithName"></a> 
            <div class="headerRightSide">
                <div class="dropdown paddingBottom8 width160" id="dropdown">
                    <button class="dropbtn width160 paddingBottom8">
                        <i class="material-icons icon-AccountCircle">menu</i>
                    </button>
                    <div class="dropdown-content width160">
                        <a href="/strategies">
                            Strategies
                        </a>
                        <a href="/market_stats">
                            Stats
                        </a>
                        <a href="/about">
                            About
                        </a>
                        <a href="/token">
                            Token
                        </a>
                        <a href="/white_paper">
                            Whitepaper
                        </a>
                        <a href="/open_beta">
                            Explore app
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>