<header id="myHeader" class="height50">
    <div class="mediaHeaderWeb">
        <div class="navbar marginLeft2 height50">
            <a href="/"><img src="/img/favicon.png" class="appNavbarIcon" style="width: 50px !important;"></a> 
            <div class="dropdown width140">
                <a class="store marginLeft40 userHeaderNavbarLink" href="/build_strategy">Develop</a>
            </div> 
            <div class="dropdown width120">
                <a class="store userHeaderNavbarLink" href="/strategies">Strategies</a>
            </div>
            <div class="dropdown width80">
                <a class="store userHeaderNavbarLink" href="/pools">Pools</a>
            </div> 
            <div class="dropdown width130">
                <a class="store userHeaderNavbarLink" href="/marketplace">Marketplace</a>
            </div>
            <div class="dropdown width80">
                <a class="store userHeaderNavbarLink" href="/market_stats">Stats</a>
            </div> 
            <div class="dropdown">
                <a class="store userHeaderNavbarLink">Vote</a>
            </div> 
        
            <div class="headerRightSide">
                <a><img src="/img/token.jpg" class="appNavbarTradegenToken"></a> 
                <div class="dropdown">
                    <a class="store userHeaderNavbarLink credits noHover">{{credits}}</a>
                </div>

                <a><img src="/img/celo_token.JPG" class="appNavbarCeloToken"></a> 
                <div class="dropdown">
                    <a class="store userHeaderNavbarLink credits noHover" id="otherBalance">0.0000</a>
                </div>

                <a><img src="/img/celoDollar.png" class="appNavbarCeloDollarToken"></a> 
                <div class="dropdown">
                    <a class="store userHeaderNavbarLink credits noHover" id="otherBalance">0.0000</a>
                </div>
                
                <div class="dropdown paddingBottom8 width220" id="dropdown">
                    <button class="dropbtn width220 paddingBottom8">
                        <i class="material-icons icon-AccountCircle">account_circle</i>
                        <span id="headerWalletAddress">{{username}}</span> 
                        <i class="material-icons icon-AccountCircle">arrow_drop_down</i>
                    </button>
                    <div class="dropdown-content width220">
                        <a href="/profile">
                            <i class="material-icons icon-AccountCircle">perm_identity</i>
                            Profile
                        </a>
                        <a href="/transactions">
                            <i class="material-icons icon-AccountCircle">local_atm</i>
                            Transactions
                        </a>
                        <a href="/positions">
                            <i class="material-icons icon-AccountCircle">layers</i>
                            Positions
                        </a>
                        <a href="/invested_pools">
                            <i class="material-icons icon-AccountCircle">bubble_chart</i>
                            Invested Pools
                        </a>
                        <a href="/settings">
                            <i class="material-icons icon-AccountCircle">settings</i>
                            Settings
                        </a>
                        <a id="logout">
                            <i class="material-icons icon-AccountCircle">power_settings_new</i>
                            Disconnect
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mediaHeaderMobile">
        <div class="navbar marginLeft2">
            <a href="/"><img src="/img/favicon.png" class="appNavbarIcon"></a> 
        
            <div class="headerRightSide">
                <div class="dropdown paddingBottom8" id="dropdown">
                    <button class="dropbtn paddingBottom8">
                        <i class="material-icons icon-AccountCircle">menu</i>
                    </button>
                    <div class="dropdown-content width220">
                        <a href="/build_strategy">
                            Develop
                        </a>
                        <a href="/strategies">
                            Strategies
                        </a>
                        <a href="/marketplace">
                            Marketplace
                        </a>
                        <a href="/market_stats">
                            Stats
                        </a>
                        <a href="/market_stats">
                            Vote
                        </a>
                        <a href="/profile">
                            Profile
                        </a>
                        <a href="/transactions">
                            Transactions
                        </a>
                        <a href="/positions">
                            Positions
                        </a>
                        <a href="/invested_pools">
                            Invested Pools
                        </a>
                        <a href="/settings">
                            Settings
                        </a>
                        <a id="logout">
                            Disconnect
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>